version: '3.8'

services:
  app:
    build: .
    ports:
      - "4000:4000"
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads
    networks:
      - nashiecom-network

networks:
  nashiecom-network:
    driver: bridge